/* GENERAL */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
}
html, body, input {
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", "Helvetica Neue", sans-serif;
}
html {
  overflow-y: scroll;
}
@media screen and (min-width: 500px) {
  * {
    font-size: 18px;
  }
}

@media screen and (min-width: 800px) {
  * {
    font-size: 20px;
  }
}
body {
  background-color: #eee;
  color: #333;
}
h1, h2, h3, h4 {
  margin: 0;
}
a {
  font-weight: bold;
  text-decoration: none;
  color: #4a9ac2;
}
a:hover {
  border-bottom: 0.15em solid;
}
button, button:hover, button:focus, button:active {
  background-color: transparent;
  color: transparent;
  border: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
input, input:hover, input:focus, input:active {
  background-color: transparent;
  border: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.search-button, .station-star {
  width: 1.8em;
  height: 1.8em;
  background-size: 1em;
  background-repeat: no-repeat;
  background-position: center;
}

/* LAYOUT */
.container, .scroll-container, .search-container {
  width: 100%;
  margin: 0 auto;
}
.search-container {
  padding: 1.3em 1.5em;
}
.scroll-container {
  padding: 4.4em 1em 2em;
}
@media screen and (min-width: 550px) {
  .scroll-container, .search-container {
    width: 70%;
    padding-left: 0;
    padding-right: 0;
  }
  .search-container {
    padding: 1.3em 0.5em;
  }
}
@media screen and (min-width: 750px) {
  .scroll-container, .search-container {
    width: 50%;
  }
}
.search-results, .favorites {
  margin-top: 0.5em;
}
.favorites {
}
.favorites-title {
  padding-top: 2em;
  padding-bottom: 0.5em;
  text-align: center;
  text-transform: uppercase;
}

/* SEARCH HEADER */
.header-bar {
  width: 100%;
  position: fixed;
  top: 0;
  overflow: hidden;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.search-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.search-input {
  flex: 1;
  font-size: 1.2em;
}
.search-input,
.search-input:focus {
  outline: 0;
  outline-style: none;
}
.search-button {
  align-self: flex-end;
  vertical-align: middle;

  background-image: url(img/search.svg);
}

/* STATION ITEMS */
.station {
  font-size: 1em;
  border: 1px solid rgba(0,0,0,0);
  border-radius: 4px;
  cursor: pointer;
}
.station:hover {
  background-color: #f6f6f6;
  border: 1px solid #ccc;
}
.station:active {
  background-color: #e0e0e0;
  border: 1px solid #ccc;
}
.station-header {
  padding: 0.5em;

  display: flex;
  align-items: center;
}
.station-title {
  flex: 1;

  font-weight: 400;
}
.expanded {
  margin: 0.3em 0;
  border: 1px solid #ccc;
  background: #fff;
  box-shadow: 0 1px 2px #ccc;
}
.expanded .station-title {
  font-weight: 600;
}
.station-star {
  width: 2em;
  background-size: 1.127em;
}
.star {
  background-image: url(img/star.svg);
}
.nostar {
  background-image: url(img/nostar.svg);
}

.bus-list {
  padding: 0 0.5em 0em;
}
.direction {
  margin-bottom: 0.5em;
}
.bus {
  padding: 0.3em 0;
  display: flex;
  align-items: baseline;
}
.line,
.time {
  width: 2.3em;
  margin-right: 0.7em;
  font-weight: 600;
  text-align: center;
}
.line {
  padding: 0.2em;
  background-color: blue;
  color: white;
  border-radius: 0.3em;
}
.time {
  font-size: 1.1em;
}
.endstation {
  flex: 1;
}

.standout .bus {
  flex-direction: row-reverse;
}
.standout .endstation {
  text-align: right;
}
.standout .line,
.standout .time {
  margin: 0 0 0 0.7em;
}

/* FOOTER */
.footer {
  width: 96%;
  margin: 6em auto 4em;
  text-align: center;
  line-height: 150%;
  color: #808080;
}
.footer,
.footer * {
  font-size: 0.8rem;
}
.footer > small {
  display: block;
  margin: 1em 0;
}
@media screen and (min-width: 380px) {
  .footer {
    width: 320px;
  }
}
@media screen and (min-width: 500px) {
  .footer {
    width: 400px;
  }
}
/* Loading icon */
@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
.spinner {
  display: block;
  width: 60px;
  margin: 3em auto;
  animation: spin 1s infinite linear;
  -webkit-animation: spin 1s infinite linear;
}
